html {
    scroll-behavior: smooth; 
  }
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
}
header {
  color: white;
}
body, ul, li, a, p, img {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  
}
h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: white
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
.container {
  width: 1200px;
  margin: auto;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4d2323;
  height: 50px;
}
.nav-list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  flex-basis: 70%;
}
.nav-list li{
  display: inline-block;
  margin: 0;
  padding: 0;
}
.logo {
  display: flex;
  justify-content: center;
  flex-basis: 30%;
}
.logo a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
.nav-link {
  padding-right: 10px;
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: normal;
}
.contacts-section {
  display: flex;
  justify-content: space-between;
  background-color: #4d2323;
  padding-bottom: 10px;
}
.photo-section {
  display: flex;
  justify-content: center;
  flex-basis: 30%;
}
.myphoto {
  width: 276px;
  height: auto;
}
.information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 70%;
}
.undername {
  color: cadetblue;
}
.contacts {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 2;
}

.contact-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 30px;
}
.contact-title {
  list-style: none;
  flex: 5;
}
.contact-info {
  margin-bottom: 20px;
}
.contacts ul {
  margin-right: 20px;
}
.contacts li {
  list-style: none;
  color:  white;
}
.contacts a {
  text-decoration: none;
  color: cadetblue;
}
.main-information {
  display: flex;
}
.column-left {
  display: flex;
  justify-content: center;
  flex-basis: 30%;
}
.column-left-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 276px;
  background-color: cadetblue;
  padding-top: 10px;
}
.column-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 70%;
  padding-top: 10px;
}
.aboutMe-section {
}
.education-experience {
  display: flex;
  justify-content: space-between;
}
.education {
}
.experience {
}
.languages {
  padding-left: 42px;
}
.skills {
  padding-left: 42px;
}
pre {
}
.footer-information {
  background-color: #4d2323;
  height: 50px;
}